{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
	<nav>
		
			<a href="/">Orange Bounty</a>
			<a href="/products">Products</a>
			<a href="/checkout">Checkout</a>
		
	</nav> <!-- end navbar -->

  <div id="wrapper">
  	<div class="container-fluid">

  		<div class="row">
  			<div class="col-sm-12">
  				<div id="jumbo">
  					<img src="" alt="">
  					<p>this is jumbo</p>
  				</div>
  			</div>
  		</div>

  		<div class="row">
  			<div class="col-sm-12 text-center">
  				<h2>Products</h2>
  			</div>
  			<div class="col-sm-12 multiple-products">
  			
  				<!-- need swig for loop here -->
  				<div class="col-sm-4 individual-product">
						<ul>
							<li>Product Name</li>
							<li>Price</li>
							<li>Rating</li>
						</ul>
  				</div>

  				<div class="col-sm-4 individual-product">
						<ul>
							<li>Product Name</li>
							<li>Price</li>
							<li>Rating</li>
						</ul>
  				</div>

  				<div class="col-sm-4 individual-product">
						<ul>
							<li>Product Name</li>
							<li>Price</li>
							<li>Rating</li>
						</ul>
  				</div>
  			<!-- end swig for loop here (remove filler material) -->

  			</div>
  		</div>

  		<div class="row">
  			<div class="col-sm-10 col-sm-offset-1 signup text-center">
  				<h2>Signup Today!</h2>
  				<p class="text-justify">
	  				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad soluta, qui minima, doloremque ex esse voluptas exercitationem facere natus officia veniam rerum maiores nobis modi incidunt laborum voluptatum quisquam.
  				</p>
  				<input class="email-signup pull-left" type="email">
  				<input class="submit-signup pull-right" type="submit" value="Signup">
  			</div>
  		</div>

  	</div> <!-- end .container-fluid -->
  </div> <!-- end #wrapper -->

  <footer>
  	<div class="col-sm-12">
  		<div class="col-sm-3">
  			<h3>Vist Us</h3>
  			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212248.78035832208!2d-117.86051004814144!3d33.77649814515177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc925c54d5f7cf%3A0xdea6c3618ff0d607!2sOrange+County%2C+CA!5e0!3m2!1sen!2sus!4v1457504025276" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
  		</div>
  		<div class="col-sm-3">
  			<h3>Section</h3>
  				<ul>
  					<li>Item One</li>
  					<li>Item Two</li>
  					<li>Item Three</li>
  					<li>Item Four</li>
  				</ul>
  		</div>
			<div class="col-sm-3">
				<h3>Section</h3>
					<ul>
						<li>Item One</li>
						<li>Item Two</li>
						<li>Item Three</li>
						<li>Item Four</li>
					</ul>
			</div>
			<div class="col-sm-3">
				<h3>Section</h3>
					<ul>
						<li>Item One</li>
						<li>Item Two</li>
						<li>Item Three</li>
						<li>Item Four</li>
					</ul>
			</div>
  	</div>
  </footer>

{% endblock %}



